extends layouts/main-layout

block styles 
    link(rel="stylesheet", href="/css/form.css")
    link(rel="stylesheet", href="/css/user.css")

block content 
    form.user-form(action="/add-user", method="POST")
        .form-control
            label(for="username") Username 
            input(type="text", name="username")#username
        button.btn(type="submit") Add user
    
